{eval
function tpl_post_attribute_extra_body($editor='md',$content='') {
global $_G;
}
<!--{block return}-->
    <script src="{$_G['siteurl']}source/plugin/codfrm_markdown/dist/editor.js"></script>
<div id="md">
    <div id="md-editor">{$content}</div>
    <span id="md-autosave"></span>
</div>
<!--{if $editor=='md'}-->
    <a id="switch-editor" href="#">使用默认编辑器</a>
    <a id="recover-text" href="#">移除自动保存内容</a>
<!--{else}-->
    <a id="switch-editor" href="#">使用狂炫酷爆吊炸天的markdown编辑器</a>
<!--{/if}-->


    <script>
        initeditor("{$_GET['tid']}","{$editor}");
    </script>

<!--{/block}-->
<!--{eval return $return;}-->
{eval
}

}
