.markdown-body ul li,
.markdown-body ul {
    list-style: disc !important;
}

.markdown-body ul li li {
    list-style: circle !important;
}

.markdown-body ul {
    margin-left: 0;
}

.markdown-body ol li,
.markdown-body ol {
    list-style: auto !important;
}

.markdown-body ul,
.markdown-body ol {
    padding-left: 0 !important;
}

.emoji,
.emoji-img {
    display: inline;
    font-size: 16px;
    width: 32px;
    height: 32px;
    padding: 4px;
    cursor: pointer;
    vertical-align: top;
}

.emoji:hover {
    background: azure;
}

.emoji-del {
    display: none;
}

.emoji-img:hover .emoji-del {
    display: block;
    position: relative;
    top: -80px;
    right: -60px;
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 100%;
    font-size: 8px;
    color: #fff;
}

#recover-text {
}

.un-del:hover,
.un-del:hover img {
    height: 88px;
    width: 88px;
}

.emoji-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 4px;
}

.emoji-img img {
    width: 80px;
    height: 80px;
}

.add-emoji {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 9px;
    height: 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.add-emoji:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.add-emoji:active {
    position: relative;
    top: 1px;
}

.toastui-editor-contents,
.ProseMirror {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial",
    "나눔바른고딕", "Nanum Barun Gothic", "맑은고딕", sans-serif !important;
}

.markdown-body img {
    display: block;
    margin: 10px 0;
}